

<form action="/user/_Register" method="post" id="RegisterForm" class="pt-3 p-md-4 pb-2 ">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*action="/user/_Create" method="post"*@

    <div class="form-group  ">
        <label for="mid" class="form-label">帳號</label>
        <input class="form-control text-box single-line" data-val="true" data-val-length="帳號長度需介於4-20字元" data-val-length-max="20" data-val-length-min="4" data-val-required="帳號不可為空白！" id="mid" name="mid" placeholder="" type="text" value="">
        <span class="field-validation-valid text-danger" data-valmsg-for="mid" data-valmsg-replace="true"></span>
     
    </div>
    <div class="form-group ">

        <label for="emailRE" class="form-label">E-mail</label>
        <input class="form-control text-box single-line" data-val="true" data-val-email="email格式錯誤" data-val-required="email不可為空白！" id="emailRE" name="memail" placeholder="" type="email" value="">
        <span class="field-validation-valid text-danger" data-valmsg-for="memail" data-valmsg-replace="true"></span>
       
    </div>


    <div class="form-group ">
        <label for="mpassword" class="form-label">密碼</label>
        <input class="form-control text-box single-line" data-val="true" data-val-required="密碼不可為空白！" id="mpassword" name="mpassword" type="password" value="">
        <span class="field-validation-valid text-danger" data-valmsg-for="mpassword" data-valmsg-replace="true"></span>
       
    </div>
    <div class="form-group">
        <label for="mpasswordCheck"
               class="form-label">密碼確認</label>
        <input class="form-control text-box single-line" data-val="true" data-val-equalto="兩次輸入密碼不一致！" data-val-equalto-other="*.mpassword" data-val-required="請再次輸入密碼！" id="mpasswordCheck" name="mpasswordCheck" type="password" value="">
        <span class="text-danger field-validation-valid" data-valmsg-for="mpasswordCheck" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group m-4">
        <input type="button"
               class=" btn btn-warning btn-block" value="註冊" id="submitRegist">
    </div>

</form>


@Scripts.Render("~/bundles/jqueryval")

<script>
      $('#submitRegist').click(function () {

    var myForm = $("#RegisterForm");

    var validator = myForm.validate();
    if (myForm.valid()) {

        var dataForm = myForm.serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("_Register","user")',
            data: dataForm,
            cache: false,
            async: false,
            success: function (data) {
                if (data.IsSuccess) {

                    alert('註冊成功!');
                    window.location = '@Url.Action("Index", "Home")';

                } else {

                    if (data.ModelStateErrors != null) {
                        // show model state error
                        validator.showErrors(data.ModelStateErrors);
                        alert('請檢查輸入資料');
                    } else {
                        alert('register fail');
                    }
                }
            }
        });

    }
      });


</script>










