


<form action="/user/Login" method="post" id="LoginForm" class="pt-3 p-md-4 pb-2 ">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*action="/user/_Create" method="post"*@

    <div class="form-group  ">
        <label for="UserNo" class="form-label">帳號</label>
        <input autocomplete="Off" class="form-control" data-val="true" data-val-required="登入帳號 欄位是必要項。" id="UserNo" name="UserNo" placeholder="使用帳號或email登入" tabindex="1" type="text" value="">
        <span class="field-validation-valid text-danger" data-valmsg-for="UserNo" data-valmsg-replace="true"></span>
      
    </div>
    <div class="form-group ">
        <label for="Password" class="form-label">密碼</label>
        <input autocomplete="Off" class="form-control" data-val="true" data-val-required="登入密碼 欄位是必要項。" id="Password" name="Password" placeholder="密碼" tabindex="2" type="password">
        <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
      
    </div>

    <div class="form-group m-4">
        <input type="button"
               class=" btn btn-warning btn-block" value="確認" id="submitLogin">
    </div>

</form>



@Scripts.Render("~/bundles/jqueryval")

<script>
      $('#submitLogin').click(function () {

    var myForm = $("#LoginForm");

    var validator = myForm.validate();
    if (myForm.valid()) {

        var dataForm = myForm.serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Login","user")',
            data: dataForm,
            cache: false,
            async: false,
            success: function (data) {
                if (data.IsSuccess) {

                    alert('登入成功!');
                    window.location = '@Url.Action("Index", "Home")';

                } else {

                    if (data.ModelStateErrors != null) {
                        // show model state error
                        validator.showErrors(data.ModelStateErrors);
                        alert('請檢查輸入資料');
                    } else {

                         alert('登入成功!');
                    window.location = '@Url.Action(@ViewBag.locaAction, @ViewBag.locafail)';
                    }
                }
            }
        });

    }
      });


</script>












