@using Securitys;
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- 字體 -->
    <link href="https://fonts.googleapis.com/css?family=Mali:400,700|Noto+Sans+TC:400,700&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>HoMe .Find way鸚鵡回家</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/boxcolor.css" rel="stylesheet" />
    @if (DateTime.Now.Hour > 18)
    {
        <link href="~/css/colornight.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/colorday.css" rel="stylesheet" />
    }
</head>
<style>
    #mainhead {
        height: 55px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
</style>

@if (ViewBag.locafail == "Fly")
{
    <style>
        @@media screen and (max-width:1023px) {
            .mainfunchead {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 27% 100%, 25% 88%, 23% 100%, 0 100%);
            }
        }
    </style>
}
else if (ViewBag.locafail == "Catch")
{
    <style>
        @@media screen and (max-width:1023px) {
            .mainfunchead {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 52% 100%, 50% 88%, 48% 100%, 0 100%);
            }
        }
    </style>

}
else if (ViewBag.locafail == "Catch")
{
    <style>
        @@media screen and (max-width:1023px) {
            .mainfunchead {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 75% 88%, 73% 100%, 0 100%);
            }
        }
    </style>}

<body>
    @Html.Partial("_nav")

    <div class="movenav " id="movenav">

        <div class="container-fluid" style="position: relative; overflow: hidden; ">
            <!-- 頭 -->
            @if (UserAccount.IsLogin)
            {
                <header class="row nav d-flex align-items-center justify-content-between mainfunchead" id="mainhead"
                        style="opacity: 1 ;height: 55px; position: fixed;top: 0;width: 100%;z-index: 1000;">
                    <div class="col-lg-3  text-center d-none d-lg-block ">
                        <a href="/Home/Index" style="text-decoration:none">
                            <h1 class="h3 text-white mt-2  bigfont " style="line-height: 20px;white-space: nowrap;">
                                HoMe .Find
                                Way<br> <span class="text-white" style="font-size: 16px; font-family: cwtexyen;">鸚 鵡 回 家</span>
                            </h1>
                        </a>
                    </div>

                    <div class=" HanbergerDiv HanbergerDivRow btn  d-lg-none opennav">
                        <div class="hanberger X1  mt-1"></div>
                        <div class="hanberger X2  mt-1"></div>
                        <div class="hanberger X3  mt-1 mb-1"></div>
                    </div>


                    <div class=" btn-group d-lg-none  d-flex align-items-center">
                        <button class="btn row_btn">飛失</button>
                        <button class="btn row_btn">目擊</button>
                        <button class="btn row_btn ">拾獲</button>
                    </div>


                    <div class="btn-group col-lg-1 d-flex justify-content-center align-items-start "
                         style="height: 40px;width:40px;">

                        <button type="button" class="btn  pull-right bg-transparent " data-toggle="dropdown"
                                style="height: 40px;width:40px;background-image:url('images/LOGO-4white-nofont.svg');background-repeat: no-repeat;background-position: center ;background-size:cover;"></button>
                        <!-- 會員下拉 -->
                        <div class="dropdown-menu dropdown-menu-right"
                             style="clip-path: polygon(0 100%, 100% 100%, 100% 7%, 93% 7%, 89% 1%, 85% 7%, 0 7%);">
                            <a class="dropdown-item mt-3 py-2" href="#">訊息</a>
                            <a class="dropdown-item py-2" href="#">我的張貼</a>
                            <a class="dropdown-item  py-2" href="#">寵物鳥管理</a>
                            <a class="dropdown-item  py-2 mb-0" href="#">帳號管理</a>
                            <hr class="m-1">
                            <a class="dropdown-item py-2" href="/user/Logout">登出</a>
                        </div>

                    </div>
                </header>
            }
            else
            {
                <header class="row nav d-flex align-items-end justify-content-between mainfunchead sticky" id="mainhead"
                        style="opacity: 1 ;height: 55px;">
                    <div class="col-lg-3  text-center d-none d-lg-block ">
                        <a href="/Home/Index" style="text-decoration:none">
                            <h1 class="h3 text-white mt-2  bigfont " style="line-height: 20px;white-space: nowrap;">
                                HoMe .Find
                                Way<br> <span class="text-white" style="font-size: 16px; font-family: cwtexyen;">鸚 鵡 回 家</span>
                            </h1>
                        </a>
                    </div>

                    <div class=" HanbergerDiv HanbergerDivRow btn  d-lg-none opennav">
                        <div class="hanberger X1  mt-1"></div>
                        <div class="hanberger X2  mt-1"></div>
                        <div class="hanberger X3  mt-1 mb-1"></div>
                    </div>


                    <div class="  btn-group d-lg-none mb-1">
                        <button class="btn row_btn">飛失</button>
                        <button class="btn row_btn">目擊</button>
                        <button class="btn row_btn ">拾獲</button>
                    </div>


                    <div class="loginicon d-lg-none d-flex justify-content-center align-items-center ">
                        @*<span class="far fa-user d-lg-none btn " data-toggle="modal" data-target="#poplogin"></span>*@
                    </div>

                    <div class="col-lg-1 justify-content-center d-flex align-items-center d-none ">
                        @*<span class="text-warning d-none d-lg-block mb-3 btn bigfont  " data-toggle="modal"
                                  data-target="#poplogin">
                                log
                                in
                            </span>*@
                    </div>
                </header>
            }
            <!-- /頭 -->
            <!-- lg版的功能列-->
            <div class="row mt-3 mb-0  ">
                <div class="offset-2 col-4 d-none d-lg-block">
                    <form action="" class="form-group ">
                        <div class="input-group mb-3 badge-pill border bg-white" style="width: 400px">
                            <input type="text" class="form-control border-0 badge-pill bg-transparent" placeholder="　腳環號/品種/" style="width: 60%;position: relative;left: -10px;">
                            <button class="border-0 bg-transparent btn ml-5" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="border-0 bg-transparent btn text-info searchhelp" type="button" style="position: absolute;right: 55px;"><i class="fa fa-list"></i></button>

                        </div>
                    </form>
                </div>
                <div class="offset-3 col-auto  align-self-center d-none d-lg-block ">

                    <a href="">
                        <span class="list-unstyled d-inline ">圖示 </span>
                    </a>
                    <span>|</span>
                    <a href="">
                        <span class="list-unstyled d-inline ">清單 </span>
                    </a>
                    <span>|</span>
                    <a href="">
                        <span class="list-unstyled d-inline ">地圖</span>
                    </a>

                </div>
                <div class="offset-lg-3  searchbox bg-light rounded " style="width: 5px;height:0px; overflow: hidden;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui voluptatem asperiores, fugit vitae earum ratione maiores incidunt in tenetur consectetur harum nobis voluptas exercitationem nam perspiciatis! Magnam excepturi ad praesentium?</div>

            </div>
            <!--/ lg版的功能列-->

            <div class="row ">
                <div class="col-lg-2 d-none d-lg-block ">



                </div>

                <!-- 主要內容 -->
                <div class=" col-lg-9 p-1 d-flex flex-wrap funcmain">

                    @RenderBody()


                    <fb:login-button scope="public_profile,email"
                                     onlogin="checkLoginState();">
                    </fb:login-button>

                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v5.0&appId=2562798504045563&autoLogAppEvents=1"></script>

                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>

                </div>
                <!--/ 主要內容 -->




                <div class="col-lg-1  d-none d-lg-block ">
                    <!-- 電腦右側功能 -->
                    <!-- /電腦右側功能 -->
                </div>

                <!-- 浮動捲上 -->
                <a class="btn  add" id="BackTop" title="回到最上" data-toggle="tooltip" data-placement="top"><span class="up1"></span><span class="up2"></span></a>
                <!-- data-toggle="modal" data-target="#popadd" href="AddEdit.html"  -->

            </div>
        </div>

        <!-- .登入modal -->


        @Html.Partial("_footer")
    </div>



    <script src="~/js/index.js"></script>
    @RenderSection("scripts", required: false)

    <script>

        console.log(DateTime.Now.TimeOfDay.ToString("HH:mm"));
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2562798504045563',
                cookie: true,
                xfbml: true,
                version: 'v5.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
        {
            status: 'connected',
                authResponse: {
                accessToken: '...',
                    expiresIn: '...',
                        signedRequest: '...',
                            userID: '...'
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

    </script>

</body>
</html>
