@model prjWebBird.Models.z_func_fly

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutedit.cshtml";
    ViewBag.locafail = "Fly";
    ViewBag.locaAction = "Create";
}

<h2>新增飛失記錄</h2><br />

@using Securitys;
@if (UserAccount.IsLogin == false)
{
    <p class="col-12 text-danger">為了之後的資料修改煩請登入</p>
<div class="col-12 col-md-6 mb-3">
    <ul class="nav nav-tabs px-2" id="myTab" role="tablist">
        <li class="nav-item w-50 ">
            <a class="nav-link active text-nowrap" id="loginnav" data-toggle="tab" href="#login"
               role="tab" aria-controls="home" aria-selected="true">登入</a>
        </li>
        <li class="nav-item w-50 ">
            <a class="nav-link text-nowrap" id="registernav" data-toggle="tab" href="#register"
               role="tab" aria-controls="profile" aria-selected="false">註冊</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="login" class=" tab-pane fade show active bg-white" role="tabpanel">
            @Html.Partial("~/Views/user/Login.cshtml")

        </div>
        <div id="register" class=" tab-pane fade bg-white" role="tabpanel">

            @Html.Partial("~/Views/user/_Register.cshtml")



        </div>

    </div><!-- /.row -->
</div>}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h4 class="col-12">飛失填寫列表</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="px-2">
    <div class="form-row">


        <div class="form-group col-6 col-md-3 ">
            @Html.LabelFor(model => model.mname, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.mname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mname, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-8  col-md-6">
            @Html.LabelFor(model => model.mid, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.mid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mid, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-8 col-md-6">
            @Html.LabelFor(model => model.mid2, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                @Html.EditorFor(model => model.mid2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mid2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7 col-md-5">
            @Html.LabelFor(model => model.mspecies, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                @Html.EditorFor(model => model.mspecies, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mspecies, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-8 col-md-5">
            @Html.LabelFor(model => model.mcolor, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                @Html.EditorFor(model => model.mcolor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mcolor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12">
            @Html.LabelFor(model => model.mfeature, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                @Html.EditorFor(model => model.mfeature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mfeature, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-8 col-md-6">
            @Html.LabelFor(model => model.maddr, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                @Html.EditorFor(model => model.maddr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maddr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12">
            @Html.LabelFor(model => model.maddr_detail, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                @Html.EditorFor(model => model.maddr_detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maddr_detail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-12 col-md-6">
            @Html.LabelFor(model => model.mtime, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                <input class="form-control text-box single-line" data-val="true" data-val-date="欄位 飛失時間 必須是日期。" id="mtime" name="mtime" type="datetime-local" value="">
                @Html.ValidationMessageFor(model => model.mdate, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group  col-12">

            @Html.LabelFor(model => model.mstate, htmlAttributes: new { @class = "control-label  " })
            @foreach (var item in @ViewData["mstate"] as List<prjWebBird.Models.z_sys_state>)
            {
                <label class="bg-info badge-pill mx-1" for=@item.mno>
                    @Html.RadioButton("mstate", @item.mno, new { @id = @item.mno })
                    @*@Html.Label(item.mname, new { @for = @item.mno })*@
                    @item.mname
                </label>
            }

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            @Html.LabelFor(model => model.mremarks, htmlAttributes: new { @class = "control-label  " })
            <div class=" ">
                <textarea class="form-control" name="mremarks" id="mremarks"></textarea>

                @Html.ValidationMessageFor(model => model.mremarks, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="p-md-5 p-3 rounded " style="background:linear-gradient(rgb(128, 128, 128),rgb(240, 240, 240)5%,rgb(240, 240, 240)95%,rgb(128, 128, 128)100%)">

        <div class="form-row">
            <div class="form-group col-7 col-md-5">
                <label for="connname" class="form-label">聯絡人</label>
                <input class="form-control text-box single-line" data-val="true" id="connmname" name="connmname" placeholder="怎麼稱呼" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="connmname" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-9 col-md-5">
                <label for="tel" class="form-label">聯絡電話（非必填）</label>
                <input class="form-control text-box single-line" data-val="true" data-val-number="電話格式錯誤" id="tel" name="tel" placeholder="手機或市話" type="tel" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="tel" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12">
                <label for="connect" class="form-label">其他聯絡方式（非必填）</label>
                <textarea class="form-control" name="connect" id="connect" placeholder="Facebook連結/LineID..."></textarea>
            </div>

        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-12">
            <div class="col-md-offset-2  ">
                <input type="submit" value="新增" class="btn btn-default btn-danger" />
            </div>
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("放棄新增", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
