@model IEnumerable<prjWebBird.Models.z_func_fly>

@{
    ViewBag.Title = "飛失列表-清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .add {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        text-align: center;
        color: white;
        line-height: 30px;
        position: fixed;
        bottom: 8px;
        right: 8px;
        z-index: 1;
        background: radial-gradient(circle, rgba(44, 135, 43, 1) 55%, rgb(61, 139, 59) 68%, rgb(24, 63, 21) 77%);
        box-shadow: 4px 3px 6px rgb(3, 41, 29);
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<div class="table-responsive d-none d-lg-block">
    <table class=" table table-light">
        <tr class="">

            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mname)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mid)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mid2)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mspecies)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mcolor)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.maddr)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mdate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mdate_edit)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mstate)
            </th>
            <th class="text-nowrap">

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mid)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mid2)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mspecies)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mcolor)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.maddr)<span class=" "> @Html.DisplayFor(modelItem => item.maddr_detail)</span>
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mdate)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mdate_edit)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mstate)
                </td>
                @if (item.edit)
                {
                    <td class="text-nowrap">
                        @Html.ActionLink("Edit", "Edit", new { id = item.mno }) |
                        @Html.ActionLink("Details", "Details", new { id = item.mno }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.mno })
                    </td>
                }
                else
                {
                    <td class="text-nowrap">
                        @Html.ActionLink("Details", "Details", new { id = item.mno }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.mno })
                    </td>
                }
            </tr>
        }

    </table>
</div>
<div class="table-responsive d-lg-none d-block">
    <table class=" table table-light small">
        <tr class="">

            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mname)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mid)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mspecies)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.maddr)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mdate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.mstate)
            </th>
            <th class="text-nowrap">

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mid)
                </td>

                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mspecies)
                </td>

                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.maddr)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mdate)
                </td>

                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.mstate)
                </td>
                @if (item.edit)
                {
                    <td class="text-nowrap">
                        @Html.ActionLink("Edit", "Edit", new { id = item.mno })
                    </td>
                }
                else
                {
                    <td class="text-nowrap"></td>
                }
            </tr>
        }

    </table>
</div>
<a class="btn add text-white" > @Html.ActionLink("+", "Create")</a><!-- 浮動新增按鈕 -->
