@model IEnumerable<prjWebBird.Models.z_func_fly>

@{
    ViewBag.Title = "飛失列表-清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.locafail= "Fly";

ViewBag.locaAction= "Index";
}

    <h2 class="d-none d-lg-block">飛失協尋清單</h2>

<p>
    
    
</p>
<div class="table-responsive d-none d-lg-block">
    @if (DateTime.Now.Hour > 18 || DateTime.Now.Hour < 6)
    {
        @:<table class="table table-light table-hover table-striped">
            @:<tr class="table-warning ">
            }
            else
            {
                @:<table class="table table-light table-hover table-striped">
                    @:<tr class="table-secondary ">
                    }

    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mname)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.show_id)
    </th>

    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mspecies)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mcolor)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.maddr)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mdate)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mdate_edit)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mstate)

    </th>
    @if (UserAccount.IsLogin)
    {
        <th class="text-nowrap">

        </th>
}

</tr>

@foreach (var item in Model)
{
    <tr>

        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mname)
        </td>
        <td>
            @if (item.mid2 == null)
            {@Html.DisplayFor(modelItem => item.show_id)
        }
        else
        {
            string[] arr = item.show_id.Split('、');

            @arr[0]<br>@arr[1]
        }
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mspecies)
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mcolor)
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.maddr)<br><span class="small"> @Html.DisplayFor(modelItem => item.maddr_detail)</span>
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mdate)
        </td>
        <td class="text-nowrap">
            @string.Format("{0:yyyy/MM/dd}", item.mdate_edit)<br /><span class="small">@string.Format("{0:HH:mm}", item.mdate_edit)</span>
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mstate)
        </td>

        @using Securitys;

        @if (UserAccount.IsLogin)
        {
            <td class="text-nowrap">

                @if (item.edit == true)
                {
                    if (UserAccount.mno == item.user_no || UserAccount.UserRole == enUserRole.Admin)
                    {
                        @Html.ActionLink("修改", "Edit", new { id = item.mno })
                        if (UserAccount.UserRole == enUserRole.Admin)
                        {
                            @:| @Html.ActionLink("刪除", "Delete", new { id = item.mno }, new { onclick = "return confirm('確定要刪除嗎?')" })
                        }
                    }
                }

            </td>
}
    </tr>
}

</table>
</div>
<div class="table-responsive d-lg-none d-block">
    @if (DateTime.Now.Hour > 18 || DateTime.Now.Hour < 6)
    {
        @:<table class="table table-light table-hover table-striped">
            @:<tr class="table-warning ">
            }
            else
            {
                @:<table class="table table-light table-hover table-striped">
                    @:<tr class="table-secondary ">
                    }

    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mname)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.show_id)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mspecies)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.maddr)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mdate)
    </th>
    <th class="text-nowrap">
        @Html.DisplayNameFor(model => model.mstate)
    </th>
    @if (UserAccount.IsLogin)
    {
        <th class="text-nowrap">

        </th>
}
</tr>

@foreach (var item in Model)
{
    <tr>

        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mname)
        </td>
        <td>
            @if (item.mid2 == null)
            {@Html.DisplayFor(modelItem => item.show_id)
        }
        else
        {
            string[] arr = item.show_id.Split('、');

            @arr[0]<br>@arr[1]
        }
        </td>

        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mspecies)
        </td>

        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.maddr)
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mdate)
        </td>

        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.mstate)

        </td>
        @if (UserAccount.IsLogin)
        {
            <td class="text-nowrap">

                @if (item.edit == true)
                {
                    if (UserAccount.mno == item.user_no || UserAccount.UserRole == enUserRole.Admin)
                    {
                        @Html.ActionLink("修改", "Edit", new { id = item.mno })
                        if (UserAccount.UserRole == enUserRole.Admin)
                        {
                            @:| @Html.ActionLink("刪除", "Delete", new { id = item.mno }, new { onclick = "return confirm('確定要刪除嗎?')" })
                        }
                    }
                }

            </td>
}
    </tr>
}

</table>
</div>

